In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
#print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

In [9]:
train_data = pd.read_csv("C://Users//Palak//Desktop//ClubMahindra//train.csv")
test_data = pd.read_csv("C://Users//Palak//Desktop//ClubMahindra//test.csv")

In [10]:
print(train_data.columns)
print(test_data.columns)

Index(['reservation_id', 'booking_date', 'checkin_date', 'checkout_date',
       'channel_code', 'main_product_code', 'numberofadults',
       'numberofchildren', 'persontravellingid', 'resort_region_code',
       'resort_type_code', 'room_type_booked_code', 'roomnights',
       'season_holidayed_code', 'state_code_residence', 'state_code_resort',
       'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid',
       'cluster_code', 'reservationstatusid_code', 'resort_id',
       'amount_spent_per_room_night_scaled'],
      dtype='object')
Index(['reservation_id', 'booking_date', 'checkin_date', 'checkout_date',
       'channel_code', 'main_product_code', 'numberofadults',
       'numberofchildren', 'persontravellingid', 'resort_region_code',
       'resort_type_code', 'room_type_booked_code', 'roomnights',
       'season_holidayed_code', 'state_code_residence', 'state_code_resort',
       'total_pax', 'member_age_buckets', 'booking_type_code', 'memberid',
       'cluster_code', 'reservationstatusid_code', 'resort_id'],
      dtype='object')

In [11]:
train_data.head(16)

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
0,07659f3758d8aee27f5a7e2887adeacb67021cb95ada1b...,05/04/18,05/04/18,06/04/18,3,1,2,0,46,3,...,7.0,3,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,C,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.706428
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/04/15,16/04/15,1,1,2,0,46,3,...,7.0,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,01/02/15,05/02/15,1,1,2,0,47,1,...,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
3,cfd77f44811ed62f25a220b53324cdbafc662a4c9e5f04...,02/05/15,11/06/15,16/06/15,1,1,2,2,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.344943
4,937cff9e4dcfc2459620153dfc8b9962ac22bea67dfb29...,02/09/15,14/12/15,19/12/15,1,1,2,0,46,2,...,7.0,2,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.059346
5,cc8f05558362b7589004e57044e8b558bd228fc70da5b0...,01/12/15,12/01/16,13/01/16,1,1,2,0,47,1,...,7.0,6,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d6...,8.167707
6,6827da5d76c626deeed81eb9f3afef635db4c17c9cbea0...,20/01/16,20/01/16,21/01/16,3,1,2,0,46,2,...,7.0,9,1,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,B,A,ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...,6.449838
7,b89547398bfff6b8e99939fbeb20ddb55aa2e43ebce9e4...,22/08/16,20/10/16,25/10/16,1,1,2,2,46,1,...,7.0,6,4,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d6...,7.046172
8,3706793a0263706fe541b6e7f3b681be363f0b7e2bdc63...,10/09/16,18/09/16,24/09/16,1,1,2,0,45,2,...,7.0,10,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,B,A,0b918943df0962bc7a1824c0555a389347b4febdc7cf9d...,5.394203
9,1f797a715ff7788cc8162fb033ee0eca345a2209b27593...,03/08/16,21/11/16,24/11/16,1,1,2,0,45,1,...,7.0,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,6.561412
10,08e9f5f901e56de363bf53db5c4a76e44a6393076b03de...,03/02/17,28/02/17,01/03/17,2,1,2,0,46,2,...,7.0,9,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,B,A,a68b412c4282555f15546cf6e1fc42893b7e07f271557c...,6.820005
11,c105019a45cdeb19b232342e7ec68d784c6592e70f2978...,23/09/17,18/10/17,20/10/17,2,1,2,0,46,2,...,7.0,2,4,F,2,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,6.624450
12,e8d4f0130804217a1c4c2c3159ff66157605adf4c7a39e...,25/01/18,25/01/18,26/01/18,3,1,2,0,46,3,...,7.0,3,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,A,A,7f2253d7e228b22a08bda1f09c516f6fead81df6536eb0...,7.476229
13,e9db2546714291299aa8da26df4f81f28ca4c455a91617...,28/01/18,06/04/18,08/04/18,2,1,2,0,46,3,...,7.0,5,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,4ec9599fc203d176a301536c2e091a19bc852759b255bd...,4.139637
14,7542ff11ed65615f42840dec421f2ecb3522e54035b494...,05/04/18,05/04/18,06/04/18,3,1,2,0,45,1,...,8.0,6,4,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,F,C,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...,9.932153
15,821a5e5313029b1bbec6ec738a1b34d6d14c82fca97c47...,05/04/18,08/03/12,11/03/12,3,1,2,0,45,1,...,8.0,6,3,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,F,C,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...,3.218876

In [12]:
test_data.head()

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,season_holidayed_code,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id
0,7dae1ce6bc8f69481328f2be5c4943077dad5598b5f66d...,05/04/18,05/04/18,06/04/18,3,2,2,0,45,3,...,2.0,2.0,3,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,A,C,9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739...
1,fe0d4e444e1818436c88f72f1cf800536c2f785e59baeb...,24/05/15,23/06/15,27/06/15,1,2,4,0,45,1,...,2.0,2.0,4,2,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...
2,540bd4285ad8168e8388f84ee74a82cd4f97dc0a404d3e...,21/07/15,07/08/15,10/08/15,3,2,3,0,45,2,...,4.0,2.0,2,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...
3,09593c907ae262e46f655b4db9e14f54a19eadcfdd2679...,31/07/15,22/10/15,25/10/15,1,2,3,0,45,1,...,2.0,2.0,6,3,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...
4,f4c50caac68051faf37551d70bb17eebef2a20e2244cb1...,01/07/16,01/10/16,05/10/16,1,2,4,0,45,1,...,2.0,2.0,11,2,H,1,2114944930dcc42ce5b9b50ae965cf8a9c04e46be63d84...,F,A,e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027...

In [13]:
print(train_data.shape)
print(test_data.shape)

(341424, 24)
(146765, 23)

In [14]:
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341424 entries, 0 to 341423
Data columns (total 24 columns):
reservation_id                        341424 non-null object
booking_date                          341424 non-null object
checkin_date                          341424 non-null object
checkout_date                         341424 non-null object
channel_code                          341424 non-null int64
main_product_code                     341424 non-null int64
numberofadults                        341424 non-null int64
numberofchildren                      341424 non-null int64
persontravellingid                    341424 non-null int64
resort_region_code                    341424 non-null int64
resort_type_code                      341424 non-null int64
room_type_booked_code                 341424 non-null int64
roomnights                            341424 non-null int64
season_holidayed_code                 341310 non-null float64
state_code_residence                  336660 non-null float64
state_code_resort                     341424 non-null int64
total_pax                             341424 non-null int64
member_age_buckets                    341424 non-null object
booking_type_code                     341424 non-null int64
memberid                              341424 non-null object
cluster_code                          341424 non-null object
reservationstatusid_code              341424 non-null object
resort_id                             341424 non-null object
amount_spent_per_room_night_scaled    341424 non-null float64
dtypes: float64(3), int64(12), object(9)
memory usage: 62.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146765 entries, 0 to 146764
Data columns (total 23 columns):
reservation_id              146765 non-null object
booking_date                146765 non-null object
checkin_date                146765 non-null object
checkout_date               146765 non-null object
channel_code                146765 non-null int64
main_product_code           146765 non-null int64
numberofadults              146765 non-null int64
numberofchildren            146765 non-null int64
persontravellingid          146765 non-null int64
resort_region_code          146765 non-null int64
resort_type_code            146765 non-null int64
room_type_booked_code       146765 non-null int64
roomnights                  146765 non-null int64
season_holidayed_code       146730 non-null float64
state_code_residence        144505 non-null float64
state_code_resort           146765 non-null int64
total_pax                   146765 non-null int64
member_age_buckets          146765 non-null object
booking_type_code           146765 non-null int64
memberid                    146765 non-null object
cluster_code                146765 non-null object
reservationstatusid_code    146765 non-null object
resort_id                   146765 non-null object
dtypes: float64(2), int64(12), object(9)
memory usage: 25.8+ MB
None

In [15]:
#checking for null values
print(train_data.isnull().sum())
print(test_data.isnull().sum())

reservation_id                           0
booking_date                             0
checkin_date                             0
checkout_date                            0
channel_code                             0
main_product_code                        0
numberofadults                           0
numberofchildren                         0
persontravellingid                       0
resort_region_code                       0
resort_type_code                         0
room_type_booked_code                    0
roomnights                               0
season_holidayed_code                  114
state_code_residence                  4764
state_code_resort                        0
total_pax                                0
member_age_buckets                       0
booking_type_code                        0
memberid                                 0
cluster_code                             0
reservationstatusid_code                 0
resort_id                                0
amount_spent_per_room_night_scaled       0
dtype: int64
reservation_id                 0
booking_date                   0
checkin_date                   0
checkout_date                  0
channel_code                   0
main_product_code              0
numberofadults                 0
numberofchildren               0
persontravellingid             0
resort_region_code             0
resort_type_code               0
room_type_booked_code          0
roomnights                     0
season_holidayed_code         35
state_code_residence        2260
state_code_resort              0
total_pax                      0
member_age_buckets             0
booking_type_code              0
memberid                       0
cluster_code                   0
reservationstatusid_code       0
resort_id                      0
dtype: int64

In [16]:
#Filling null values 
train_data['season_holidayed_code'] = train_data['season_holidayed_code'].fillna('NA')
train_data['state_code_residence'] = train_data['state_code_residence'].fillna('NA')
test_data['season_holidayed_code'] = test_data['season_holidayed_code'].fillna('NA')
test_data['state_code_residence'] = test_data['state_code_residence'].fillna('NA')

In [17]:
print(train_data.describe())
print(test_data.describe())

        channel_code  main_product_code  numberofadults  numberofchildren  \
count  341424.000000      341424.000000   341424.000000     341424.000000
mean        1.902810           2.208738        3.275361          0.362696
std         0.915311           0.823779        1.756062          0.758019
min         1.000000           1.000000        0.000000          0.000000
25%         1.000000           2.000000        2.000000          0.000000
50%         2.000000           2.000000        3.000000          0.000000
75%         3.000000           3.000000        4.000000          0.000000
max         3.000000           7.000000       32.000000         13.000000

       persontravellingid  resort_region_code  resort_type_code  \
count       341424.000000       341424.000000     341424.000000
mean           210.288905            1.772960          2.193832
std            865.735577            0.750806          1.551451
min             45.000000            1.000000          0.000000
25%             45.000000            1.000000          1.000000
50%             45.000000            2.000000          2.000000
75%             45.000000            2.000000          3.000000
max           4995.000000            3.000000          7.000000

       room_type_booked_code     roomnights  state_code_resort      total_pax  \
count          341424.000000  341424.000000      341424.000000  341424.000000
mean                2.890321       3.738346           4.763303       3.193390
std                 0.804260       2.479054           3.103909       1.167824
min                 1.000000     -45.000000           1.000000       0.000000
25%                 2.000000       2.000000           2.000000       2.000000
50%                 3.000000       3.000000           5.000000       3.000000
75%                 3.000000       4.000000           7.000000       4.000000
max                 6.000000      60.000000          13.000000      24.000000

       booking_type_code  amount_spent_per_room_night_scaled
count      341424.000000                       341424.000000
mean            1.124209                            7.720801
std             0.329821                            1.090109
min             1.000000                            1.600397
25%             1.000000                            7.187260
50%             1.000000                            7.860814
75%             1.000000                            8.419144
max             2.000000                           10.816652
        channel_code  main_product_code  numberofadults  numberofchildren  \
count  146765.000000      146765.000000   146765.000000     146765.000000
mean        1.902068           2.204483        3.275897          0.362287
std         0.914653           0.817804        1.783842          0.758218
min         1.000000           1.000000        0.000000          0.000000
25%         1.000000           2.000000        2.000000          0.000000
50%         2.000000           2.000000        3.000000          0.000000
75%         3.000000           3.000000        4.000000          0.000000
max         3.000000           7.000000       32.000000         10.000000

       persontravellingid  resort_region_code  resort_type_code  \
count       146765.000000       146765.000000     146765.000000
mean           209.179852            1.774101          2.196675
std            862.926844            0.753281          1.544679
min             45.000000            1.000000          0.000000
25%             45.000000            1.000000          1.000000
50%             45.000000            2.000000          2.000000
75%             45.000000            2.000000          3.000000
max           4995.000000            3.000000          7.000000

       room_type_booked_code     roomnights  state_code_resort      total_pax  \
count          146765.000000  146765.000000      146765.000000  146765.000000
mean                2.888754       3.730372           4.750560       3.188410
std                 0.804043       2.482388           3.101036       1.163872
min                 1.000000       0.000000           1.000000       0.000000
25%                 2.000000       2.000000           2.000000       2.000000
50%                 3.000000       3.000000           5.000000       3.000000
75%                 3.000000       4.000000           7.000000       4.000000
max                 6.000000      80.000000          13.000000      21.000000

       booking_type_code
count      146765.000000
mean            1.123354
std             0.328844
min             1.000000
25%             1.000000
50%             1.000000
75%             1.000000
max             2.000000

roomnights min = -45 suggests booking date is after checkin date.

In [18]:
train_data[train_data['booking_date']>train_data['checkin_date']]

,reservation_id,booking_date,checkin_date,checkout_date,channel_code,main_product_code,numberofadults,numberofchildren,persontravellingid,resort_region_code,...,state_code_residence,state_code_resort,total_pax,member_age_buckets,booking_type_code,memberid,cluster_code,reservationstatusid_code,resort_id,amount_spent_per_room_night_scaled
1,03930f033646d073462b35d411616323597715ac4fc398...,23/01/15,11/04/15,16/04/15,1,1,2,0,46,3,...,7,5,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,6.662563
2,d145a32920e6587ad95bfe299d80c0affa268220535aaf...,28/01/15,01/02/15,05/02/15,1,1,2,0,47,1,...,7,1,2,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.871602
7,b89547398bfff6b8e99939fbeb20ddb55aa2e43ebce9e4...,22/08/16,20/10/16,25/10/16,1,1,2,2,46,1,...,7,6,4,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d6...,7.046172
11,c105019a45cdeb19b232342e7ec68d784c6592e70f2978...,23/09/17,18/10/17,20/10/17,2,1,2,0,46,2,...,7,2,4,F,2,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,6.624450
13,e9db2546714291299aa8da26df4f81f28ca4c455a91617...,28/01/18,06/04/18,08/04/18,2,1,2,0,46,3,...,7,5,3,F,1,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,F,A,4ec9599fc203d176a301536c2e091a19bc852759b255bd...,4.139637
20,4a8949c84efb8a437d5e121507fafd3d7dcc1634ec311c...,24/11/16,18/01/17,22/01/17,1,1,2,0,47,3,...,8,3,2,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,A,A,7f2253d7e228b22a08bda1f09c516f6fead81df6536eb0...,4.436426
21,065ff246f6b06b07e9d87eeee4e6a072da55f0ede015c1...,24/11/16,22/01/17,25/01/17,1,1,2,0,47,3,...,8,3,2,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,A,A,3e1e967e9b793e908f8eae83c74dba9bcccce6a5535b4b...,5.945255
23,2fff0ec0cf2be2da0dbb88e3f9e2b3a5909e4cf3c56562...,30/12/17,19/01/18,22/01/18,2,1,2,0,47,1,...,8,6,3,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,F,A,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...,7.953208
24,7b8d2e8b14ccb8290e8ba7372fb7706109527461011011...,22/10/18,07/11/18,09/11/18,1,1,4,0,46,2,...,8,2,4,H,1,7b68caeb153ac83aeab0b9a679709c558d57a6c9d2bdf6...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,8.526070
26,f6cb98ae0a42565f5ad2eca77febfc7643945d75107ef3...,25/03/15,05/04/15,07/04/15,1,2,2,2,47,2,...,2,2,4,D,1,0fb5e9e87638ac401e88ea0115114182614151218a0147...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.453072
27,19b1b7295f760003e7e5dbed4d551008c9208078119f54...,28/03/15,02/04/15,05/04/15,1,2,2,2,45,2,...,2,2,4,D,1,0fb5e9e87638ac401e88ea0115114182614151218a0147...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.562046
33,759541d7a6d16124b2cffa7f30682067d51446d2687778...,31/03/18,13/04/18,15/04/18,3,2,3,0,45,1,...,5,1,4,D,2,d4eee99d5c3238cdda52479fb34125e15208d394af34e7...,E,C,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,8.342892
34,a80d2fbea1195021307a13a44642855c60f46145dcf29c...,31/03/18,12/03/12,18/03/12,3,2,3,0,45,1,...,5,1,3,D,2,d4eee99d5c3238cdda52479fb34125e15208d394af34e7...,E,C,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,7.029715
37,471fba1e2e47144c20787e6f958d749a7973b894ee33f2...,27/02/15,23/03/15,25/03/15,3,3,4,0,46,2,...,7,9,2,H,1,e0c7930b0b231e328861e1878d622de8eab98abc6c7a20...,B,A,624b60c58c9d8bfb6ff1886c2fd605d2adeb6ea4da5760...,8.086316
38,e826bc933c8537970249041c018701e6e851b98e632014...,30/03/15,18/05/15,20/05/15,3,3,2,0,46,2,...,7,9,2,H,1,e0c7930b0b231e328861e1878d622de8eab98abc6c7a20...,B,A,ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...,7.645610
44,3b269a26227076017d9538e93a64f6efafc9b6faadb661...,26/09/15,16/11/15,19/11/15,3,2,3,0,45,3,...,8,3,2,D,1,a51c95b79b7be8d4d8b7d1cbba32e06897e8fcc63e3325...,A,A,9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739...,7.464575
47,fe2b0f4757ab5cfa23e84047f57a6a3cb5b58f976270b2...,27/09/16,20/10/16,23/10/16,3,1,4,0,45,1,...,2,6,2,F,1,560676fd1a3c36b76151a0b5df2ce0fb031a38e40abe7c...,F,B,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...,6.412803
52,e8d03a5172f6c9fb82bee432390b6086ebdffa99425269...,11/02/15,08/04/15,11/04/15,3,2,2,3,46,2,...,2,2,5,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,8.396215
53,1f7c15541a8cf20dacd31fffde48a240e289987b00070e...,10/08/15,08/09/15,11/09/15,3,2,2,0,46,3,...,2,5,2,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,A,670671cd97404156226e507973f2ab8330d3022ca96e0c...,7.706916
54,1919f1bb9b544a33e212e28b8c117586127add2905371e...,10/08/15,03/09/15,05/09/15,3,2,2,0,46,3,...,2,5,2,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,A,4ec9599fc203d176a301536c2e091a19bc852759b255bd...,7.989325
55,dc7c7f3a43ab8db652d2c6b1159fc1d587dc48ff966c0b...,10/08/15,05/09/15,08/09/15,3,2,2,0,46,3,...,2,3,2,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,A,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,7.487095
56,c332b034986c5244bc385acb0594e305d7b59226bafd90...,23/05/16,10/06/16,12/06/16,1,2,3,0,46,1,...,2,11,4,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,A,e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027...,8.867854
59,dab299cfb05e3d4befda3bba8370e11b6de067f5807227...,20/04/18,17/07/18,19/07/18,1,2,2,1,46,1,...,2,11,2,D,1,410352e8a5b53918ef687dd51d289167765e0d7fce2877...,F,A,e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027...,8.728484
61,4a145bd85933560404960075dc71a8319dd6a42440bc05...,23/06/15,21/08/15,23/08/15,3,2,2,0,45,3,...,6,3,2,I,2,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,A,A,f5ca38f748a1d6eaf726b8a42fb575c3c71f1864a81433...,7.188326
62,cdcf758e660752dbf7e08445933f6187f8f1e1e922b843...,23/10/15,01/12/15,03/12/15,3,2,4,0,45,3,...,6,3,2,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,A,C,f5ca38f748a1d6eaf726b8a42fb575c3c71f1864a81433...,8.435344
64,34cd01a10c631df60dca4bdd4561bfaed3dc1a172573eb...,30/05/16,15/09/16,18/09/16,3,2,2,0,45,1,...,6,1,2,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,E,A,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,6.824540
65,9d4e6743e7b3405ddf9a9bddf227aee1976aefc38f483a...,30/05/16,18/09/16,20/09/16,3,2,2,0,45,1,...,6,1,2,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,E,A,c6f3ac57944a531490cd39902d0f777715fd005efac9a3...,7.100794
66,deaf3c1d4ce23d25b6dd3586e0fabf11fc4f0d1ebbc240...,30/05/16,20/09/16,21/09/16,3,2,2,0,45,1,...,6,1,2,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,E,A,81b8a03f97e8787c53fe1a86bda042b6f0de9b0ec9c093...,7.313114
67,868bda4298c053060a6228a67cc7ecf6112bfef2e4d4ad...,30/05/16,24/09/16,26/09/16,3,2,2,0,45,1,...,6,1,2,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,E,A,c75cb66ae28d8ebc6eded002c28a8ba0d06d3a78c6b5cb...,7.018778
68,74a6455baa9132ad2306ff7aa7bbccbc0efa5717ebd3cb...,30/05/16,22/09/16,24/09/16,3,2,2,0,45,1,...,6,1,2,I,1,a24896d1582d8b6c0de997d8b7435962e33580ba80839d...,E,B,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.535470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341243,4af45571184667a8ae5dcc272583a0b70bb4bc45b59e3c...,30/01/19,08/02/19,10/02/19,1,2,2,0,47,1,...,10,1,2,G,1,de5eb2e0545d91a53c858901cb6ed7c60bd48a51df59dd...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,7.559674
341244,21598c5364b314d4d44a92af72742eef56379bf8b36416...,30/01/19,20/02/19,21/02/19,1,3,4,0,45,2,...,23,2,4,E,1,6c2b25be79a1b4df9e8633a2b2927957910eb890f6014b...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,9.502235
341245,4ddc348ca3a7e2c382bace2f1eae83c3c796f58b7eb352...,31/01/19,01/02/19,02/02/19,2,3,2,0,45,2,...,28,2,3,D,1,c96509fd6379aad24da5e94c783492335b1576e8049d92...,D,A,6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef...,8.621921
341246,744f6e96f70e2d41de5f5bd4f78b59e8e62bcb3b6013d1...,31/01/19,07/02/19,09/02/19,1,4,4,0,47,1,...,8,6,4,F,1,5d389f4b17d63202155261d7e5ec896d77f1d94e68c4cc...,F,A,b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d6...,8.789295
341247,1f7dd1609f6683b16153bf0ec3bdfb75f53d046e7ed76a...,31/01/19,04/02/19,06/02/19,3,4,3,0,46,2,...,8,7,3,H,1,237782d9cfda1d7f8eb0cbdc9b339a99908ebe6085fc13...,C,A,9400f1b21cb527d7fa3d3eabba93557a18ebe7a2ca4e47...,7.224732
341248,303e9c9a1b1987feb9df0561b071887eb3003bbba6e45e...,31/01/19,13/02/19,16/02/19,1,4,2,0,45,2,...,8,7,4,E,1,ac25a5b9b01399189d7bf18206e4308ed5011c147d832d...,C,A,da4ea2a5506f2693eae190d9360a1f31793c98a1adade5...,7.956589
341249,450cf618d960bc8c44d1329223457a67281e15603469be...,31/01/19,16/02/19,19/02/19,2,2,2,0,47,1,...,8,6,5,B,1,c83defdc52ffa1cfbe8a6b1d7f84f0cce7c0cd09c20fc2...,F,A,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...,7.684528
341251,9680283165c9e974f2bf0d81bb8b823d799e596b585bb4...,31/01/19,18/02/19,21/02/19,3,3,4,0,45,2,...,7,2,3,C,2,8027edcb5401ebe270ecbf48d7176a53467f00cda61a9c...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.196547
341252,1a37959e992b183ba5b71c50a6590cb18a7399d4cc3b3e...,31/01/19,08/02/19,11/02/19,2,4,2,0,45,1,...,1,1,5,B,2,cf2525c1f9b2e0956db4672ff4ed7e78abc4c184016574...,E,A,48449a14a4ff7d79bb7a1b6f3d488eba397c36ef25634c...,7.849557
341253,ad98d17431f0b9d591304c468bb04c04c5ba5d30c1f239...,31/01/19,19/02/19,24/02/19,3,2,2,0,47,2,...,15,2,2,A,2,41f7ddf290303bd28fc5f16ba730b9ee75f25b1e74e2fe...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,5.631298
341254,c425eaa05d95dd278c9046b87f1ed23e4d82ea8a522ca9...,31/01/19,22/02/19,24/02/19,3,3,2,0,45,1,...,8,1,2,H,1,99dfe609965bc56d57b4160a339b7b6da89611af348ae9...,E,A,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,8.639602
341255,35a93f5fe759794e831fab2a6bd6f6aef1c9b6a8c53a4c...,31/01/19,27/02/19,01/03/19,3,2,2,0,45,1,...,8,1,4,H,1,99dfe609965bc56d57b4160a339b7b6da89611af348ae9...,E,A,c75cb66ae28d8ebc6eded002c28a8ba0d06d3a78c6b5cb...,8.982275
341256,f36f3cf202ee8948aa071e9eef804855822947139c51f6...,31/01/19,03/02/19,09/02/19,3,3,4,0,45,2,...,14,2,3,D,1,4785f545df322c5962e2b502385709be78bf0f277d25a8...,D,A,6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef...,9.147167
341257,15137ef48c952b82e209e67359dbc5478f0e3dcece251d...,31/01/19,25/02/19,28/02/19,3,3,3,0,46,3,...,2,3,2,G,1,c4f3f40ec92ca852e807dd546853eb4c82b791d17a23e3...,A,A,9f14025af0065b30e47e23ebb3b491d39ae8ed17d33739...,7.512860
341258,c349f3851005fd0c167003d3ed679e9a944e3bac860ffe...,31/01/19,11/02/19,14/02/19,1,4,4,0,45,2,...,8,2,7,H,1,5a36152f28cf618527897ae78cc102f2c1b97df524a8d3...,D,A,6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef...,7.842821
341259,157af194dac46a0956c3ec2ce7e6492a5d0a8285cee952...,31/01/19,11/02/19,14/02/19,2,4,4,0,46,2,...,8,2,4,F,1,6b658b9f90d7f96b72e380003488554a43f463403205f7...,D,A,6208ef0f7750c111548cf90b6ea1d0d0a66f6bff40dbef...,7.281087
341260,63013f3cff5159e271967ff5d78d418bb72c560b4ea4aa...,31/01/19,11/02/19,12/02/19,2,3,2,1,45,2,...,8,2,4,D,1,803cf19a02c3eb14f19f93a8fb3b1ced727baf58c7744f...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,7.838927
341264,5a784d7ba25ff99664281957ce932cde42f837f57cbe7f...,24/01/19,13/02/19,15/02/19,3,4,2,0,46,1,...,2,11,2,F,1,f4657f27703ab5ad86b312c974e926117bbdb3a019dda2...,F,A,e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027...,6.826350
341277,34559f94128ccc0d0256e077794ea2f7c91396e9f4a2ab...,31/01/19,19/02/19,21/02/19,2,2,6,0,45,2,...,8,2,3,G,1,e81ad8448b660db5c712ea8ef15cd19008314b4798337e...,D,A,98a3ab7c340e8a033e7b37b6ef9428751581760af67bba...,9.275275
341281,903fa5391d3cdf254be5f9974a110e8e2f71b327fda192...,30/01/19,26/02/19,01/03/19,2,3,2,0,45,1,...,12,11,3,A,1,f242c1f1a371897fce779014657bc7bd9a2981db0f0ad2...,F,A,e29c9c180c6279b0b02abd6a1801c7c04082cf486ec027...,7.975630
341283,2ff0deb9496bb5776dd8e5abb2073ee90d462613863b96...,31/01/19,09/02/19,10/02/19,3,3,2,0,45,3,...,4,5,6,C,1,62626e999ad2c3c05450a736deb729b475d4dd9bcae250...,F,A,4ec9599fc203d176a301536c2e091a19bc852759b255bd...,9.592829
341290,01c4f84155be239a12bcb2db825099338e431f3f2464eb...,29/01/19,28/02/19,02/03/19,2,3,2,0,45,1,...,7,1,2,G,1,ac6926d2cd99a97ba638f6b2235bdba78b36d2b994ec53...,E,A,c75cb66ae28d8ebc6eded002c28a8ba0d06d3a78c6b5cb...,8.001065
341300,7da7ff17f6c8860ca1275dd0ad46cf1e1315fed3e68c11...,11/12/18,06/02/19,09/02/19,3,2,2,0,45,1,...,1,1,2,B,1,963a176447600f34b1cdf530fef9094c15af83a76492f4...,E,A,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,8.078854
341303,a6486717489597ef8f3704b15435a063f80a265ec8edaa...,25/11/18,10/02/19,11/02/19,1,4,4,0,45,1,...,10,6,5,A,1,27fae2630bfb3dd4d806f22cb61fbbcfe7343d009bcb4e...,F,A,49d180ecf56132819571bf39d9b7b342522a2ac6d23c14...,10.689202
341310,15326f538ad84c123c60a60676591807ff20de5d298b98...,24/01/19,11/02/19,12/02/19,2,4,4,3,45,2,...,8,2,5,C,1,322fa328abf36321529ba1b0eca83fab4dee17b74b19f3...,D,A,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,9.241837
341337,256df5253fabdd5e188b75df895b0d4ee6d1b79ca80395...,25/12/18,23/02/19,25/02/19,1,3,3,0,45,1,...,3,6,4,H,1,10df31e864884a235517023783cac19e59ec0e616ae585...,F,A,b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d6...,7.644024
341341,8ce01e4a52b67b466f12dc0a56bad9919a583fa36deff2...,22/01/19,17/02/19,19/02/19,3,3,4,0,45,2,...,16,9,4,C,1,17f105028b08d38637c2acaf325ca68ae2e421fa9f54bc...,B,A,a68b412c4282555f15546cf6e1fc42893b7e07f271557c...,7.943307
341376,2921fb439d09499aaaa6309adb9d6e0620232bee97030c...,18/01/19,14/02/19,17/02/19,1,2,4,0,47,2,...,8,9,2,I,1,92004f869af97a6b671a5eb004eca10e1fed95203d6515...,B,A,ff5a1ae012afa5d4c889c50ad427aaf545d31a4fac04ff...,8.510102
341411,e6f9805764fabca42ebcefe5c02ea22a5ea2db862326a5...,31/01/19,21/02/19,23/02/19,2,3,4,0,4752,2,...,5,2,2,F,1,99c977a0626fabdb6a2b07239d7e2a18fa167dd7362b96...,D,A,98a3ab7c340e8a033e7b37b6ef9428751581760af67bba...,8.346030
341423,8712dd3ce2e36f2fbcd16b24aa3b89bd1c5203a39e578b...,28/02/19,01/03/19,02/03/19,3,3,2,0,45,2,...,8,7,5,B,2,2a3936f649eb6af2167f41fb6f0cc9f352d142125f402f...,C,A,9400f1b21cb527d7fa3d3eabba93557a18ebe7a2ca4e47...,7.864627

74891 rows have booking date > checkin date. Lets drop this rows.
But test dataset also have same thing so we cant drop this rows.

total_pax min = 0 cannot be true. Error in data.
Check whether parents + children = total person (total_pax)

In [19]:
#Check whether parents + children = total person
train_data[['numberofadults','numberofchildren','total_pax']] 
#Not same -> Error in dataset
train_data['total_pax'] = train_data['numberofadults'] + train_data['numberofchildren']

In [ ]:
#Now lets check again
train_data[['numberofadults','numberofchildren','total_pax']] 
#We are good to go. yayyyy!!!

In [ ]:
#test_data[['numberofadults','numberofchildren','total_pax']] 
test_data['total_pax'] = test_data['numberofadults'] + test_data['numberofchildren']
print(test_data[['numberofadults','numberofchildren','total_pax']])

In [35]:
#Convert to datetime for traindata
train_data['checkin_date'] = pd.to_datetime(train_data['checkin_date'])
train_data['checkout_date'] = pd.to_datetime(train_data['checkout_date'])
train_data['booking_date'] = pd.to_datetime(train_data['booking_date'])

In [36]:
#Convert to datetime for test data
test_data['checkin_date'] = pd.to_datetime(test_data['checkin_date'])
test_data['checkout_date'] = pd.to_datetime(test_data['checkout_date'])
test_data['booking_date'] = pd.to_datetime(test_data['booking_date'])

Feature Engineering
Made day, month, year features out of booking date,checkin date, checkout date.

In [38]:
#Creating day,month,year from datetime kind of features for train dataset
train_data['booking_day'] =train_data['booking_date'].dt.day
train_data['booking_month'] = train_data['booking_date'].dt.month
train_data['booking_year'] = train_data['booking_date'].dt.year

train_data['checkin_day'] =train_data['checkin_date'].dt.day
train_data['checkin_month'] = train_data['checkin_date'].dt.month
train_data['checkin_year'] = train_data['checkin_date'].dt.year

train_data['checkout_day'] =train_data['checkout_date'].dt.day
train_data['checkout_month'] = train_data['checkout_date'].dt.month
train_data['checkout_year'] = train_data['checkout_date'].dt.year

In [39]:
#Creating day,month,year from datetime kind of features for test data set
test_data['booking_day'] = test_data['booking_date'].dt.day
test_data['booking_month'] = test_data['booking_date'].dt.month
test_data['booking_year'] = test_data['booking_date'].dt.year

test_data['checkin_day'] =test_data['checkin_date'].dt.day
test_data['checkin_month'] = test_data['checkin_date'].dt.month
test_data['checkin_year'] = test_data['checkin_date'].dt.year

test_data['checkout_day'] =test_data['checkout_date'].dt.day
test_data['checkout_month'] = test_data['checkout_date'].dt.month
test_data['checkout_year'] = test_data['checkout_date'].dt.year

Feature advancebooking and staydays can add value.

In [40]:
train_data['advancebooking'] = (train_data['checkin_date'] - train_data['booking_date']).dt.days
test_data['advancebooking'] = (test_data['checkin_date'] - test_data['booking_date']).dt.days

In [41]:
#Feature 'staydays'
train_data['staydays'] = (train_data['checkout_date'] - train_data['checkin_date']).dt.days
test_data['staydays'] = (test_data['checkout_date'] - test_data['checkin_date']).dt.days

In [42]:
train_data = train_data[train_data['staydays']>0]
test_data = test_data[test_data['staydays']>0]

In [ ]:
# Categorical variables which dont have object as dtype
print(train_data['channel_code'].value_counts())
print(train_data['main_product_code'].value_counts())
print(train_data['resort_region_code'].value_counts())
print(train_data['resort_type_code'].value_counts())  
print(train_data['room_type_booked_code'].value_counts())
print(train_data['season_holidayed_code'].value_counts())
print(train_data['state_code_residence'].value_counts())
print(train_data['state_code_resort'].value_counts())
print(train_data['booking_type_code'].value_counts())

In [ ]:
#train_data['reservation_id'].value_counts
print(train_data['member_age_buckets'].value_counts().sort_index()) #Thus 10 categories(age_groups)
print(test_data['member_age_buckets'].value_counts().sort_index())

In [ ]:
#print(train_data['memberid'].value_counts())
print(train_data['reservationstatusid_code'].value_counts()) # 4 categories A,B,C,D

In [ ]:
print(train_data['memberid'].value_counts())
#This shows memberid is repeating. Customers are coming back. Lets make new feature nooftimesvisited

new feature - Noftimesvisited

In [47]:
train_data['noftimevisited'] = train_data.groupby('memberid')['memberid'].transform('count') 
test_data['noftimevisited'] = test_data.groupby('memberid')['memberid'].transform('count')

In [ ]:
print(train_data.dtypes)
print(test_data.dtypes)

In [48]:
train_data = train_data.drop(['booking_date','checkin_date','checkout_date'], axis=1)
test_data = test_data.drop(['booking_date','checkin_date','checkout_date'], axis=1)

In [49]:
#Change dtype to category
train_data['channel_code'] = train_data['channel_code'].astype('category')
train_data['main_product_code'] = train_data['main_product_code'].astype('category')
train_data['resort_region_code'] = train_data['resort_region_code'].astype('category')
train_data['resort_type_code']  = train_data['resort_type_code'].astype('category')
train_data['room_type_booked_code'] = train_data['room_type_booked_code'].astype('category')
train_data['season_holidayed_code'] = train_data['season_holidayed_code'].astype('category')
train_data['state_code_residence'] = train_data['state_code_residence'].astype('category')
train_data['state_code_resort'] = train_data['state_code_resort'].astype('category')
train_data['booking_type_code'] = train_data['booking_type_code'].astype('category')

In [50]:
test_data['channel_code'] = test_data['channel_code'].astype('category')
test_data['main_product_code'] = test_data['main_product_code'].astype('category')
test_data['resort_region_code'] = test_data['resort_region_code'].astype('category')
test_data['resort_type_code']  = test_data['resort_type_code'].astype('category')
test_data['room_type_booked_code'] = test_data['room_type_booked_code'].astype('category')
test_data['season_holidayed_code'] = test_data['season_holidayed_code'].astype('category')
test_data['state_code_residence'] = test_data['state_code_residence'].astype('category')
test_data['state_code_resort'] = test_data['state_code_resort'].astype('category')
test_data['booking_type_code'] = test_data['booking_type_code'].astype('category')

In [ ]:
print(train_data.dtypes)
print(test_data.dtypes)

In [4]:
train_data = train_data.drop(['reservation_id','memberid','resort_id'], axis=1)
test_data = test_data.drop(['reservation_id','memberid','resort_id'], axis=1)

In [5]:
#For catboost model
X = train_data.copy()
testX = test_data.copy()

In [52]:
#One-hot encoding for categorical columns
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)

In [53]:
train_data.head()

    numberofadults             ...              reservationstatusid_code_C
4                2             ...                                       0
7                2             ...                                       0
9                2             ...                                       0
11               2             ...                                       0
13               2             ...                                       0

[5 rows x 117 columns]

In [54]:
label = train_data['amount_spent_per_room_night_scaled']
train_data = train_data.drop('amount_spent_per_room_night_scaled',axis=1)

In [80]:
# We will compare five different machine learning Regression models:

# 1 - Linear Regression
# 2 - Suport Vector Machine SVR
# 3 - Random Forest Regressor
# 4 = XGboost Regressor

# Function to calculate mean absolute error
def cross_val(model):
    from sklearn.model_selection import KFold
    from sklearn.metrics import mean_squared_error
    from sklearn.linear_model import LinearRegression
    from math import sqrt
    rmse = 0.0
    score = 0.0
    # k-fold technique
    i=1
    kf =  KFold(n_splits=5,random_state=0)

    for train_index, val_index in kf.split(train_data,label):
        print('\n{} of kfold {}'.format(i,kf.n_splits))
        xtr,xval = train_data.loc[train_index],train_data.loc[val_index]
        ytr,yval = label[train_index],label[val_index]

        model.fit(xtr,ytr)
        y_predicted = model.predict(xval)
        rmse = sqrt(mean_squared_error(yval, y_predicted))
        score = score + rmse
        print('rmse: ',rmse)
        i = i + 1

    print('final val score: ',score/5)
    


def predict_for_test(model):
    # Let's predict for test set
    test_predicted = model.predict(test_data)
    return test_predicted

In [ ]:
# Linear Regression
from sklearn.linear_model import LinearRegression

lr = LinearRegression(normalize=True)
cross_val(lr)

In [ ]:
'''# SVR
from sklearn.svm import SVR
svr = SVR()
cross_val(svr)'''

In [ ]:
#RandomForest Regressor
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()
cross_val(rfr)

In [83]:
import xgboost as xgb
xgbreg = xgb.XGBRegressor()
cross_val(xgbreg)

1 of kfold 5
0
0
rmse:  0.9699985438078557

2 of kfold 5
0
0
rmse:  0.9843695751619833

3 of kfold 5
0
0
rmse:  0.9906431060452576

4 of kfold 5
0
0
rmse:  1.0042965129521673

5 of kfold 5
0
0
rmse:  1.0560846583833432
final val score:  1.0010784792701213

In [61]:
print(train_data.shape)
print(test_data.shape)

(216570, 117)
(146765, 116)

In [ ]:
#Catboost handles categorical values by itself.
from catboost import CatBoostRegressor
categorical_features_indices=[0,1,4,5,6,7,9,10,11,13,14,15,16]

In [ ]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
kf = KFold(n_splits=10,random_state=1234)
scores=[]
for train_index, test_index in kf.split(X,label):
    X_train, X_test = X.loc[train_index], X.loc[test_index]
    y_train, y_test = label[train_index], label[test_index]
    model=CatBoostRegressor(iterations=500, depth=5, learning_rate=0.03, loss_function='RMSE',rsm=0.6)
    model.fit(X_train, y_train,cat_features=categorical_features_indices,logging_level='Silent')
    y_pred=model.predict(X_test)
    scores.append(np.sqrt(mean_squared_error(y_test,y_pred)))
    print(np.sqrt(mean_squared_error(y_test,y_pred)))

Catboost model gave best score of 0.97 on private leaderboard.

In [ ]:
y_pred = model.predict(testX)

In [86]:
#  let's create a submission file
submission = pd.DataFrame({'reservation_id': test['reservation_id'],'amount_spent_per_room_night_scaled': y_pred})

#Visualize the first 5 rows
submission.head()

                                      reservation_id  amount_spent_per_room_night_scaled
0  7dae1ce6bc8f69481328f2be5c4943077dad5598b5f66d...                            7.866744
1  fe0d4e444e1818436c88f72f1cf800536c2f785e59baeb...                            7.530992
2  540bd4285ad8168e8388f84ee74a82cd4f97dc0a404d3e...                            7.466204
3  09593c907ae262e46f655b4db9e14f54a19eadcfdd2679...                            7.726861
4  f4c50caac68051faf37551d70bb17eebef2a20e2244cb1...                            7.667181

In [ ]:
#Convert pd df - > csv file (output)
submission.to_csv('submission.csv',index=False)